/* Tab content styles */
.tabcontent {
    padding: 10px;
    background-color: #fbf8f8;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    max-width: 100%;
    overflow-x: auto;
}

.tabcontent header h1 {
    font-family: sans-serif;
    margin: 5px;
    border-bottom: 2px solid;
}

#addCustomerForm {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#addCustomerForm .form-group {
    flex: 0 0 calc(30% - 10px);
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #addCustomerForm .form-group {
        flex: 0 0 100%;
    }
}

/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Styles for datatable */
/* .controls {
    /* height: 55px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #9383c2, #3500D3);
} */

.controls div {
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.add-buttons {
    background-color: #2d5198;
    border-radius: 100px;
    box-shadow: rgba(79, 79, 148, .2) 0 -25px 18px -14px inset, rgba(79, 79, 148, .15) 0 1px 2px, rgba(79, 79, 148, .15) 0 2px 4px, rgba(79, 79, 148, .15) 0 4px 8px, rgba(79, 79, 148, .15) 0 8px 16px, rgba(79, 79, 148, .15) 0 16px 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add-buttons:hover {
    box-shadow: rgba(79, 79, 148, 0.35) 0 -25px 18px -14px inset, rgba(79, 79, 148, .25) 0 1px 2px, rgba(79, 79, 148, .25) 0 2px 4px, rgba(79, 79, 148, .25) 0 4px 8px, rgba(79, 79, 148, .25) 0 8px 16px, rgba(79, 79, 148, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.controls input {
    border-radius: 30px;
    border: 2px solid;
    outline: none;
}

.controls input::placeholder {
    padding: 4px 8px;
    color: #0b0b0b;
}

.customer-table {
    width: 100%;
    border-collapse: collapse;
}

.customer-table th,
.customer-table td {
    border: 1px solid #0b0b0b;
    padding: 8px;
    text-align: left;
}

.customer-table th {
    background: #3500D3;
    color: white;
}
