<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aarogyamm</title>
    
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
</head>
<body>

    <header> 
        <!-- Navebar -->
        <div class="navbar" id="myNavbar"></div>
      </header>

<div id="products" class="tabcontent">
    <div>
        Profile     
    </div>
</div>

<script src="/static/js/script.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/rep.js"></script>
</body>
</html>
